.header {
  width: 100%;
  height: 372px;
  background-color: #0E0E10;
  padding-top: 65px;

  &__title {
    font-weight: 700;
    font-size: 60px;
    color: #f1f4fd;
    padding-top: 100px;
  }

  &__image {
    width: 84px;
  }
}

.contact {
  width: 124px;
  height: 98px;

  &__text {
    font-weight: 700;
    font-size: 14px;
    color: #55555C;
    padding: 5px 0;
    text-align: right;
  }

  &__image {
    width: 120px;
    height: 35px;
  }
}
