@use "reset";
@use "header";
@use "table";

@font-face {
  font-family: "GothamPro";
  src: url("public/fonts/gothampro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("public/fonts/gothampro_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("public/fonts/gothampro_black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-family: "GothamPro", Arial, sans-serif;
}

html, body {
  font-family: var(--font-family);
}
.wrapper{
  width: 100%;
  background: #f1f4fd;

}
// move to other file container.scss
.container {
  max-width: 1635px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 820px) {
  .container {
    max-width: 768px;
  }
  .table-search{
    justify-content: center;
    &__container{
      justify-content: center;
    }
  }

}

@media (max-width: 638px) {
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .table {
    margin: 0;
    overflow-x: auto;
    padding: 10px;
  }
  .table-body{
    &__cell{
      padding: 0;
    }

  }
}


